* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    text-align: center;
}